* {
  box-sizing: border-box;
}
html {
  min-height: 100vh;
  margin-top: 20px;
  background-color: #fff;
  background: linear-gradient(#615dad, #ffc8da);
  background-attachment: fixed;
}
.celek,
.pravidla {
  max-width: 23rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  color: #fff;
  text-align: center;
  margin-top: 3rem;
}

.celek, /*musím zadávat taky protože je to rodič, zakulacení rohů*/
img {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.piskvorky {
  background-color: #283e50;
  display: flex;
  flex-direction: column;
  margin-top: -5px;
}

h1 {
  line-height: 1;
  font-family: lobster, sans-serif;
  font-size: 36px;
  font-weight: 100; /*tloušťka písma*/
  text-align: center;
}

.text {
  font-size: 20px;
}

a {
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-size: 22px;
}

.rules {
  border: 1px solid;
  border-color: #1fcca4 #1fcca4 #000 #1fcca4;
  background-color: #1fcca4;
  display: block;
  height: 45px;
  line-height: 2;
}

.start {
  background-color: #0197f6;
  display: block;
  height: 45px;
  line-height: 2;
}

.pravidla {
  background-color: #283e50;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  text-align: left;
  max-width: 55rem;
  width: 100%;
}
.listOfRules {
  font-family: 'Open Sans', sans-serif;
  text-align: left;
  font-size: 16px;
  margin: 5px;
}
li {
  line-height: 1.7;
}

.rules {
  border: 1px solid;
  border-color: #1fcca4 #1fcca4 #000 #1fcca4;
  background-color: #1fcca4;
  display: block;
  height: 45px;
  line-height: 2;
}

.svg {
  width: 1em;
  height: 1em;
  color: #fff;
  filter: invert(100%);
}

.instruction {
  font-style: italic;
  font-size: 16px;
  text-align: center;
}

.figure {
  flex-direction: row;
  margin: auto;
  width: 100%;
}
.instrImg {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  width: 100%;
}

.figcaption {
  display: block;
  text-align: center;
  bottom: 20px;
}

.game {
  width: 700px;
  margin: auto;
  display: flex;
  flex-direction: column;
  color: #fff;
  text-align: center;
}
.gameH {
  font-size: 80px;
  letter-spacing: 0.1em;
  background-size: 10%;
}

.playfield {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1px;
  width: 60%;
  height: 40rem;
}
.playing {
  font-family: sans-serif;
  font-size: 28px;
  font-style: bold;
  margin-top: -50px;
  float: left;
  padding: 8px;
}

.circle {
  width: 0.8em;
  height: 0.8em;
  color: #fff;
  filter: invert(100%);
}
.btnGame {
  display: flex;
  margin-left: 35rem;
  margin-top: -20px;
  background-size: 10%;
}

.home {
  background-color: #1fcca4;
  width: 2.5em;
  height: 2em;
  border-radius: 5px;
}
.home:hover {
  background-color: #1cbb96;
}
.restart {
  background-color: #0197f6;
  width: 2.5em;
  height: 2em;
  border-radius: 5px;
  margin-left: 8px;
}
.restart:hover {
  background-color: #0090e9;
}
.field {
  display: flex;
  width: calc(46rem - 50px);
  flex-wrap: wrap;
  margin: auto;
  border: 3px solid black;
  background-size: 10%;
}
button {
  border: 2px solid black;
  padding: 2rem 2rem;
  color: white;
  cursor: pointer;
  opacity: 0.5;
}

.btn:hover {
  opacity: 0.7;
}

.field--circle {
  background-image: url('img/circle.svg');
  background-position: center;
  background-repeat: no-repeat; /*aby se pozadí neopakovalo*/
  background-size: 60%;
  opacity: 0.8;
}

.field--cross {
  background-image: url('img/cross.svg');
  background-position: center;
  background-repeat: no-repeat; /*aby se pozadí neopakovalo*/
  background-size: 60%;
  opacity: 0.8;
}

@media (min-width: 500px) {
  .celek {
    width: auto;
  }
}

@media (min-width: 640px) {
  .pravidla {
    width: 800px;
  }

  .instruction {
    display: flex;
    flex-wrap: wrap;
  }

  .figure {
    flex: 0 0 50%;
  }
}
@keyframes zoom {
  0% {
    background-size: 0;
  }
  100% {
    background-size: 65%;
  }
}
