* {
  box-sizing: border-box;
}
html {
  height: auto;
  margin-top: 20px;
  background-color: #fff;
  background: linear-gradient(#615dad, #ffc8da);
  background-attachment: fixed;
}
.celek,
.pravidla {
  width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  color: #fff;
  text-align: center;
}

.celek, /*musím zadávat taky protože je to rodič*/
imgUvodni {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.piskvorky {
  background-color: #283e50;
  display: flex;
  flex-direction: column;
  margin-top: -5px;
}

h1 {
  line-height: 1;
  font-family: lobster, sans-serif;
  font-size: 36px;
  text-align: center;
}

.text {
  font-size: 20px;
}

a {
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-size: 22px;
}

.rules {
  border: 1px solid;
  border-color: #1fcca4 #1fcca4 #000 #1fcca4;
  background-color: #1fcca4;
  display: block;
  height: 45px;
  line-height: 2;
}

.start {
  background-color: #0197f6;
  display: block;
  height: 45px;
  line-height: 2;
}

.pravidla {
  background-color: #283e50;
  display: flex;
  flex-direction: column;
  margin: auto;
  color: #fff;
}
.seznam {
  text-align: left;
  font-size: 16px;
  margin: 5px 30px;
}
li {
  line-height: 1.5;
}

.rules {
  border: 1px solid;
  border-color: #1fcca4 #1fcca4 #000 #1fcca4;
  background-color: #1fcca4;
  display: block;
  height: 45px;
  line-height: 2;
}

.svg {
  width: 1em;
  height: 1em;
  color: #fff;
  filter: invert(100%);
}
.instruction {
  text-align: center;
}
.figure {
  flex-direction: row;
  margin: auto;
  width: 100%;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.figcaption {
  display: block;
  text-align: center;
  bottom: 20px;
}

@media (min-width: 640px) {
  .pravidla {
    width: 800px;
  }

  .instruction {
    display: flex;
    flex-wrap: wrap;
  }
  .figure {
    flex: 0 0 50%;
  }
}
