* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: auto;
  background-color: #000;
}
.pozadi {
  height: 100vh;
  background: linear-gradient(#615dad, #ffc8da);
  background-size: cover;
  background-attachment: fixed;
}
img {
  margin: 110px auto;
  margin-top: 60px;
  margin-left: 635px;
}
h1 {
  font-family: lobster;
  font-size: 48px;
  color: #fff;
  background: #283e50;
  text-align: center;
  line-height: 2.5;
}
.text {
  color: #fff;
  background: #283e50;
  text-align: center;
  font-size: 32px;
}
.piskvorky {
  width: 640px;
  height: 340px;
  margin-left: 635px;
  margin-top: -119px;
}
a {
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-size: 22px;
}
.pravidla {
  position: absolute;
  background: #1fcca4;
  width: 640px;
  height: 48px;
  margin-top: 0px;
  padding-top: 10px;
  line-height: 1;
  border: 1px solid;
  border-color: #1fcca4 #1fcca4 #000 #1fcca4;
}
.zacni {
  position: absolute;
  background: #0197f6;
  width: 640px;
  height: 48px;
  margin-top: 30px;
  padding-top: 10px;
  line-height: 1;
}
