* {
  box-sizing: border-box;
}
html {
  height: auto;
  margin-top: 20px; /*posune dolů*/
  background-color: #000;
  background: linear-gradient(#615dad, #ffc8da);

  background-attachment: fixed;
}
.celek {
  width: 500px;
  margin: auto;
  color: #fff;
  text-align: center;
}

.celek, /*musím zadávat taky protože je to rodič*/
img {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.piskvorky {
  background-color: #283e50;
  display: flex;
  flex-direction: column;
  margin-top: -5px;
}

h1 {
  line-height: 1;
  font-family: lobster, sans-serif;
  font-size: 36px;
}

.text {
  font-size: 20px;
}

a {
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-size: 22px;
}

.rules {
  border: 1px solid;
  border-color: #1fcca4 #1fcca4 #000 #1fcca4;
  background-color: #1fcca4;
  display: block;
  height: 45px;
  line-height: 2;
}

.start {
  background-color: #0197f6;
  display: block;
  height: 45px;
  line-height: 2;
}
